*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 194, 194);
}
.main{
    display: flex;
}


.box{
    border: 3px solid black;
    width: 200px;
    height: 100px;
    padding: 3px;
    margin: 10px;
    flex-shrink: 0;
}

@media screen and (orientation:landscape){
    .main{
        border: 3px solid black;
    }
}


/* jab tak width 455px hai tab tak ye run hoga  */
@media only screen and (max-width: 210px) {
    body {

        background-color: blue;
    }
    .main{
        flex-direction: column;
    }
}


/* @media not|only mediatype and (expressions) {
            CSS-Code;
        } */